h3 {
  text-align: center;
  margin: 30px 0 15px 0;
}

input[type="text"] {
  margin: 20px auto auto;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

input[type="text"]:focus {
  box-shadow: none;
}

@media screen and (max-width: 650px) {
  input[type="text"] {
    width: 85%;
  }
}

svg {
  width: 100px;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: #212529;
  stroke-width: 2px;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

.App_container {
  display: flex;
  flex-wrap: wrap;
}

.App_overlay {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.App_overlay > div {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  user-select: none;
  transform: translate(-50%, -50%);
}

.App_display-username {
  text-align: center;
}