#fab-down, #fab-up {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 16px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  align-content: center;
  border: 1px solid black;
}

#fab-up {
  margin-bottom: 84px;
}

#fab-up:hover, #fab-down:hover {
  background-color: #ced4da;
}

#fab-up:focus, #fab-down:focus {
  background-color: white;
}
